
<h4 class="content_hd">
    统计报表</h4>
<div class="content_bd">
    <ul class="Js_tab tab_list">
        <li class="tab_item current">大队统计 </li>
        <li class="tab_item">中队统计</li>
        <li class="tab_item">警员统计</li>
    </ul>
    <ul class="tab_conlist">
        <li class="tab_conitem current">
            <div class="gray_bor_bg">
                <h5 class="gray_blod_word">
                    组合条件搜索</h5>
                <div class="search_form">
                    大队统计
                    <div class="mt_10">
                        <label>
                            按年份:</label>
                        <select class="input_79x19">
                            <option value="">年份</option>
                        </select>&nbsp;&nbsp;
                        <input type="button" class="blue_mod_btn" id="dialog" value="统&nbsp;计" />
                        <div style="display: none" class="boxcontent">
                            <div class="gray_bor_bg">
                                <h5 class="gray_blod_word">
                                    组合条件搜索</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="tab_conitem">
            <div class="gray_bor_bg">
                <h5 class="gray_blod_word">
                    组合条件搜索</h5>
                中队统计
                <div class="search_form">
                    <div class="mt_10">
                        <label>
                            按年份:</label>
                        <select class="input_79x19">
                            <option value="">年份</option>
                        </select>&nbsp;&nbsp; <a href="" class="blue_mod_btn">统 &nbsp;计</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="tab_conitem">
            <div class="gray_bor_bg">
                <h5 class="gray_blod_word">
                    组合条件搜索</h5>
                警员统计
                <div class="search_form">
                    <div class="mt_10">
                        <label>
                            按年份:</label>
                        <select class="input_79x19">
                            <option value="">年份</option>
                        </select>&nbsp;&nbsp; <a href="" class="blue_mod_btn">统 &nbsp;计</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class=" mt_10 pb_200">
    </div>
</div>
<script type="text/javascript">


    $(document).ready(function () {

        //$(".white_p10").addClass("upload_file");
        $(".ui-datepicker").css("display", "none");
    });
</script>
